<div>

    <div class="post">
        <p class="post-name center">{{@post.post.title}}</p>
        <p class="post-body">{{@post.post.body}}</p>
    </div>

    <button class="button" {{on 'click' this.show}}>{{this.commentsText}} comments</button>
    {{#if this.showComments}}
        <div class="comments">
            {{#each @post.comments as |comment|}}
                <Post::Comment @comment={{comment}} />
            {{/each}}
        </div>
    {{/if}}
</div>


